@media only screen and (max-width: 767px) {
    .d-text-home {
        text-align: center
    }

    .badge-home {
        font-size: 16px;
    }

    .d-logo-home {
        text-align: center;
    }

    .d-logo-home > img {
        width: 65% !important;
    }

    .d-title-cat .t1 {
        font-size: 26px;
        line-height: 1.5;
        margin-top: 10px;
        border: none;
    }

    .d-title-cat .t1:after {
        position: absolute;
        content: '';
        border-bottom: 1px solid #d2d7da;
        width: 80%;
        transform: translateX(-50%);
        bottom: -10px;
        left: 50%;
    }

    .d-info-cat-cent .d-title-cat .t1:after {
        border-bottom: none;
    }

    .d-item-cat {
        padding-right: 40px;
    }

    .d-image-medidas > img {
        width: 70% !important;
        margin-top: 40px;
    }

    .row-pellet-frito {
        margin-top: 110px !important;
    }

    .d-image-pellet {
        text-align: center;
    }

    .d-image-pellet > img {
        width: 58% !important;
    }

    .d-image-pellet .image-pop {
        visibility: visible;
        width: 102% !important;
        margin-top: -270px !important;
        margin-left: 0px;
    }

    .d-image-pellet:hover > .image-pop {
        visibility: visible;
        -webkit-animation: none;
        animation: none
    }

    .d-image-arrow {
        display: none;
    }

    .d-image-frito {
        text-align: center;
        margin-top: 50px;
    }

    .d-image-frito > img {
        width: 58% !important;
    }

    /* RESOLUCION MOVIL FRITO */

    .d-image-frito .image-pop {
        visibility: visible;
<<<<<<< HEAD
<<<<<<< HEAD
        width: 60% !important;
        margin-top: -255px !important;
=======
=======
>>>>>>> 9e52f657b868526eb2f6103db27dd119a0e5ecbb
        width: 43% !important;
        margin-top: -315px !important;
>>>>>>> 9e52f657b868526eb2f6103db27dd119a0e5ecbb
        margin-left: 0px;
    }

    /* END RESOLUCION MOVIL FRITO */
    .duritos2 .d-image-pellet .image-pop {
        margin-left: -22px;
        width: 100% !important;
    }

    .duritos2 .d-image-frito > .frito {
        width: 75% !important;
    }

    .duritos2 .d-image-frito .image-pop {
        visibility: visible;
        width: 100% !important;
        margin-top: -440px !important;
        margin-left: 0px;
    }

    .d-image-frito:hover > .image-pop {
        visibility: visible;
        -webkit-animation: none;
        animation: none
    }

    .sec-info-producto {
        margin-top: 100px !important;
    }

    .d-ingrediente {
        text-align: center;
    }

    .d-ingrediente > img {
        width: 100%;
        margin-top: -20px;
    }

    .d-presentacion {
        text-align: center;
    }

    .d-presentacion > img {
        width: 100%;
    }

    .d-sugerencia {
        margin-top: 35px;
    }

    .body-producto {
        background-position: center;
    }

    .sec-info-producto {
        padding-bottom: 100px;
    }

    .body-black.categorias {
        background-color: #000000;
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/bg-movil-2.jpg);
        background-repeat: repeat;
        background-size: contain;
        background-position: top;
        min-height: 100vh;
    }

    .d-logo {
        margin-bottom: 20px;
        text-align: center;
    }

    .d-logo > img {
        width: 160px;
    }

    .d-filtro {
        display: block;
        justify-content: center;
        background-color: rgba(255, 255, 255, .07);
        border-radius: 10px;
        padding-top: 16px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 50px;
    }

    .d-title-filtro {
        margin-right: 0px;
    }

    .d-marca-de-agua.producto > img {
        width: 170px;
    }

    .d-marca-de-agua {
        right: 10px;
    }

    .row-pellet-frito.snackit {
        margin-top: 80px !important;
    }

    .snackit .d-image-pellet > .image-pop {
        width: 55% !important;
        margin-left: 0px;
        margin-top: -260px !important;
        transform: translateX(-95px);
    }

    .snackit .d-image-frito {
        margin-top: 100px;
    }

    .snackit .d-image-frito > .frito {
        width: 72% !important;
        margin-top: -33px;
    }

    .snackit .d-image-frito > .image-pop {
        width: 110% !important;
        margin-left: -20px;
        margin-top: -3q0px !important;
    }

    .d-title-cat .t1.snackit {
        margin-top: 0px;
    }

}

/* ----- RESPONSIVE iPHONE 5/SE ----- */
@media only screen and (max-width: 320px) {
    .d-image-frito > .frito {
        transform: translateY(-35px);
        z-index: 1;
        position: relative;
        width: 68% !important;
    }

    .d-image-frito > .image-pop {
        margin-top: -316px !important;
        position: relative;
        z-index: 2;
    }
}

/* ----- RESPONSIVE GALAXY S5 ----- */
@media only screen and (max-width: 360px) {

    .d-image-frito {
        margin-top: 120px !important;
    }

    .d-image-frito > .image-pop {
        margin-top: -316px !important;
    }
}

/* ----- RESPONSIVE MOVIL DESKTOP ----- */
@media only screen and (max-width: 500px) {}

/* ----- RESPONSIVE MOVIL DESKTOP ----- */
@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 991px) {

    .d-image-medidas > img {
        width: 60%;
    }

    .row-pellet-frito {
        margin-top: 180px;
    }

    .d-image-pellet {
        text-align: center;
    }

    .d-image-pellet > img {
        width: 55%;
    }

    .d-image-pellet .image-pop {
        visibility: visible;
        width: 100%;
        margin-top: -530px;
        margin-left: -10px;
    }

    .d-image-pellet:hover > .image-pop {
        visibility: visible;
        -webkit-animation: none;
        animation: none
    }

    .d-image-arrow {
        display: none;
    }

    .d-image-frito {
        text-align: center;
        margin-top: 70px;
    }

    .d-image-frito > img {
        width: 60%;
    }

    .d-image-frito .image-pop {
        visibility: visible;
        width: 36%;
        margin-top: -580px;
        margin-left: 20px;
    }

    .d-image-frito:hover > .image-pop {
        visibility: visible;
        -webkit-animation: none;
        animation: none
    }

    .sec-info-producto {
        margin-top: 110px;
    }

    .d-ingrediente {
        text-align: center;
    }

    .d-ingrediente > img {
        width: 100%;
        margin-top: -20px;
    }

    .d-presentacion {
        text-align: center;
    }

    .d-presentacion > img {
        width: 100%;
    }

    .d-sugerencia {
        margin-top: 35px;
    }

    .body-producto {
        background-position: center;
    }

    .sec-info-producto {
        padding-bottom: 100px;
    }
}

/* ----- 1200 ----- */
@media only screen and (max-width: 1200px) {}

/* ----- ULTRAWIDE SCREEN ----- */

@media only screen and (min-width: 1386px) {}
