@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

p {
    margin-bottom: 0px
}

.valign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.body-home .modal-backdrop {
    opacity: 0;
}

.btn {
    font-size: 14px;
}

.btn:active,
.btn:focus {
    box-shadow: none !important;
    outline: 0 !important;
}

.form-control:active,
.form-control:focus {
    box-shadow: none !important;
    outline: 0 !important;
}

.one-line {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.three-lines-table {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding-top: 9px !important;
    padding-bottom: 0px !important;
}


.two-lines {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.three-lines {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.header-home {
    background-color: #000000;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/bg-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 100vh;
}

body.body-bg {
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.viva-mexico {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg-viva-mexico.jpg);
}

.chips {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/preloaders/chips.jpg);
}

.palmix {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/preloaders/pal-mix.jpg);
}

.clasicos {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/preloaders/clasicos.jpg);
}

.duritos {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/preloaders/duritos.jpg);
}

.fiesta {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/preloaders/fiesta.jpg);
}

.nutritivos {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/preloaders/nutritivos.jpg);
}

.tocinitos {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/preloaders/tocinitos.jpg);
}
.snackit {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/preloaders/snackit.png);
}

.d-text-home {
    text-align: right;
    margin-top: calc(100vh - 300px);
}

.badge-home {
    background-color: #EE1C23;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    border-radius: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.badge-home > sup {
    font-size: 12px;
}

.modal-home .modal-content {
    border: none;
    background-color: transparent;
}

.modal-body {
    background-color: transparent;
}

.d-preloader {
    text-align: center;
}

.d-preloader > img {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    width: 90px;
}

.body-black {
    background-color: #000000;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/bg-black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    min-height: 100vh;
}

.body-producto {
    background-color: #000000;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/bg-black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    min-height: 100vh;
    transition: .3s;
}

.d-title-cat {
    text-align: center;
}

.d-title-cat .t1 {
    display: inline-block;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    line-height: 1.7;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.d-title-cat .t1.snackit{
    margin-top: 70px;
}

.d-title-cat .t2 {
    display: inline-block;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.d-title-cat.border-none .t1 {
    border: none;
    line-height: normal;
}

.sec-cat {
    padding-top: 30px;
    padding-bottom: 100px;
}

.d-item-cat:hover {
    -webkit-animation: tada 1s;
    animation: tada infinite 1s;
}

.d-item-cat a > img {
    width: 100%;
}

.row-items-cat {
    margin-top: 50px;
}

.row-items-cat-2 {
    margin-top: 30px;
}

.sec-cat-centered {
    height: 100vh;
    vertical-align: middle;
}

.d-info-cat-cent .d-preloader {
    margin-top: 20px;
}

.badge-code {
    color: #FFFFFF;
    background-color: #A12519;
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.d-code-producto {
    text-align: center;
}

.sec-producto {
    padding-top: 40px;
    padding-bottom: 40px;
}

.d-image-medidas {
    text-align: center;
}

.d-image-medidas > img {
    width: 370px;
}

.d-image-pellet {
    text-align: center;
}

.d-image-frito {
    text-align: center;
}

.d-image-pellet > img {
    width: 165%;
}

.d-image-frito > img {
    width: 165%;
}

.row-pellet-frito {
    margin-top: -40px;
    margin-bottom: 50px;
    margin-left: -90px;
}

.row-pellet-frito.duritos2 {
    margin-top: -20px;
    margin-bottom: 10px;
    margin-left: 0px;
}

.d-ingrediente {
    text-align: center;
}

.d-ingrediente > img {
    width: 88%;
    margin-top: -10px;
}

.d-sugerencia > img {
    width: 100%;
}

.d-presentacion {
    text-align: right;
}

.d-presentacion > img {
    width: 80%;
    margin-top: -100px;
}

.sec-info-producto {
    margin-top: 20px;
    padding-bottom: 30px;
}

.d-image-pellet .image-pop {
    margin-top: -430px;
    margin-left: -180px;
    width: 185%;
}

/*
.d-image-pellet:hover > .image-pop {
    visibility: visible;
    -webkit-animation: bounceIn 1s;
    animation: bounceIn 1s;
}
*/

.d-image-frito .image-pop {
    margin-top: -480px;
    width: 260px;
    margin-left: 145px;
}


.duritos2 .d-image-pellet .image-pop {
    margin-top: -415px;
    width: 480px;
    margin-left: -100px;
}

.duritos2 .d-image-frito .image-pop {
    width: 450px;
    margin-left: -50px;
    margin-top: -600px;
}

/*.d-image-frito:hover > .image-pop {
    visibility: visible; 
    -webkit-animation: bounceIn 1s;
    animation: bounceIn 1s;
    margin-left: 145px;
}*/

.d-image-arrow {
    text-align: center;
    margin-top: -100px
}

.d-image-arrow > img {
    width: 60px;
    opacity: .4;
}

.btn-idioma {
    color: rgba(255, 255, 255, .75);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    transition: .3s;
}

.btn-idioma:hover {
    color: #FFFFFF;
}

.btn-idioma > img {
    width: 24px;
    margin-right: 10px;
    margin-top: -1px;
}

.sec-ficha {
    padding-bottom: 80px;
}

.d-btn-ficha {
    text-align: center;
}

.btn-ficha {
    background-color: #FFFFFF;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    border-radius: 100px;
    margin-top: 10px;
}

.btn-ficha:hover {
    color: #000000;
}

.btn-ficha > i {
    margin-right: 10px;
    font-size: 18px;
    transform: translateY(1px);
    transition: .3s;
}

.btn-ficha:hover > i {
    transform: translateY(4px);
}

.row-icons-ingredientes {
    margin-top: 20px;
}

.d-btns-ingredientes ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
}


.d-btns-ingredientes ul li {
    display: inline-block;
}

.btn-icon-ingredientes {
    color: rgba(255, 255, 255, .8);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: .6px;
}

.btn-icon-ingredientes:hover {
    color: #FFFFFF;
}

.btn-icon-ingredientes:hover > img {
    transform: scale(1.1);
}

.btn-icon-ingredientes > img {
    width: 60px;
    margin-right: 8px;
    transition: .3s;
}

.btn-icon-ingredientes.multigrano > img {
    width: 50px;
}

.width-300 {
    width: 300px
}

.d-logo > img {
    width: 200px;
}

.row-title-segmentos {
    margin-top: 30px;
}

.d-logo {
    margin-bottom: -60px;
}

.d-title-filtro {
    margin-right: 30px;
}

.d-title-filtro .t1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    margin-bottom: 7px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.d-title-filtro .t2 {
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    margin-bottom: 7px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.d-title-filtro .t1 > b {
    font-size: 21px;
}

.d-title-filtro .t1 > span {
    font-size: 0px;
    display: block;
}

.d-filtro {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, .07);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
}

.d-marca-de-agua {
    position: absolute;
    right: 0px;
    top: -40px;
}

.d-marca-de-agua.snackit {
    position: absolute;
    right: 0px;
    top: -11px;
}

.d-marca-de-agua > img {
    width: 240px;
}

.d-marca-de-agua.producto{
    top: -80px;
}

.snackit .d-image-pellet > .image-pop{
    width: 70%;
    margin-left: 0px;
    margin-top: -355px;
    transform: translateX(-170px);
}

.snackit .d-image-frito > .image-pop{
    width: 160%;
    margin-left: -130px;
    margin-top: -440px;
}

.row-pellet-frito.snackit{
    margin-left: 0px;
} 

.duritos2 .d-image-pellet > img{
    width: 140%;
}

.duritos2 .d-image-frito > img{
    width: 145%;
}

.d-image-gluten{
    text-align: center;
    margin-top: 20px;
    margin-bottom: -30px;
}

.d-image-gluten > img{
    width: 95px;
}
